* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #dfc7a8;
}

h1, h2 {
  color: #d87300;
}

h1 {
  font-size: 46px;
  text-align: center;
  text-decoration: underline;
}

a {
  color: #4b4b4b;
  text-decoration: none;
}

.recipe {
  list-style-type: none;
  text-align: center;
}

.recipe a {
  font-size: 26px;
  color: #4b4b4b;
  font-style: italic;
}

