/* General styling */
:root {
  --base-color: white;
  --base-dark-color: #f2f1f1;
  --green: #5adc5a;
  --red: #f43232;
  --contrast: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: var(--base-dark-color);
}

button {
  border: none;
  border-radius: 10px;
  padding: 8px 24px;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s;
  background-color: var(--base-dark-color);
}

button:hover {
  color: var(--base-color);
  background-color: var(--contrast);
}

.read,
.not-read {
  color: var(--base-color);
}

.read {
  background-color: var(--green);
}

.not-read {
  background-color: var(--red);
}

/* Header */

header {
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: var(--base-color);
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--base-dark-color);
}

main > button {
  font-size: 1.75rem;
  color: var(--base-color);
  background-color: var(--green);
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}

/* Books */

main .book-wrapper {
  width: 100%;
  padding: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 32px;
}

.book-wrapper .book {
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: var(--base-color);
}

.book-wrapper .book p:first-child {
  position: relative;
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 16px;
  text-align: center;
}

.book-wrapper .book p:first-child::after {
  position: absolute;
  top: 50px;
  left: 0;
  content: '';
  width: 100%;
  height: 5px;
  background-color: var(--contrast);
  border-radius: 10px;
}

.book-wrapper .book button {
  width: 100%;
}

/* Modal */

.modal {
  pointer-events: none;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.1s;
}

.modal.show {
  opacity: 1;
  pointer-events: auto;
}

.modal #form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: var(--base-color);
  padding: 32px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  transform: scale(0);
  transition: transform 0.25s;
}

.modal #form.show {
  transform: scale(1);
}

input[type='text'],
input[type='number'] {
  padding: 10px;
  font-size: 1.1rem;
  background-color: var(--base-dark-color);
  border: 2px solid var(--base-dark-color);
  border-radius: 10px;
  outline: none;
}

input[type='text']:focus,
input[type='number']:focus {
  border: 2px solid var(--contrast);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='checkbox'] {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  transition: box-shadow 0.3s;
  background: var(--base-dark-color);
  cursor: pointer;
  border: 1px solid lightgrey;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

input[type='checkbox']:checked {
  box-shadow: inset 0 0 0 0.75rem var(--contrast);
}

.modal #form button {
  color: var(--base-color);
  background-color: var(--green);
}

.modal #form button:hover {
  background-color: var(--contrast);
}

.modal #form p {
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
